* {
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

body {
    background-color: #4D5382;
    color: white;
}

.headerPrincipal {
    /* background-color: #B3B7EE; */
    background-color: #25283D;
    padding: 5px 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.nav-link:hover {
    font-weight: bold;
    color: white;
}  

.nav-link:visited {
    color: white;
}

.div_principal {
    border-radius: 5px;
    background-color:#25283D;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 20px;
}
.div_consigna{
    border-radius: 5px;
    background-color:#25283D;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px;
}
#correo{
    text-decoration: none;
}
#correo:hover{
    font-weight: bold;
}

.container>ol{
    padding-left: 10%;
    padding-right: 10%;
}
#headingPizza{
    padding-left: 10%;
}
#encabezadoTabla{
    font-weight: bold;
    font-size: 18px;
}
th{
    background-color: lightskyblue;
    text-align: center;
    font-size: 24px;
    padding:15px;
    color: black;
}
tr>td>a>img{
    max-width: 50px;
    padding-left: 5px;
}
td{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
td>a:link,a:visited,a:active{
    color: black;
    text-decoration: none;
}
td>a:hover{
    color: white;
}
.grupoA{
    background-color: orange;
}
.grupoB{
    background-color: lightseagreen;
}
.grupoC{
    background-color: lightsalmon;
}
.grupoD{
    background-color: lightgreen;
}
ol>li {
    padding: 20px;
}

#divDesafioCinco{
    background: linear-gradient(#A7A5C6, #8797B2, #6D8A96);
}
#divDesafioCinco>p{
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 5px 5px 5px black;
}
.footer {
    background-color: #25283D;
    border-top: 2px solid white;
}

.footer>p {
    font-size: 14px;
    color: white;
}